@media (max-width: 1820px) {
    .footer-center {
        margin-right: 0;
    }

    .footer-left {
        margin-right: 0;
    }

    .section-about__bottom-left {
        margin-right: 20px;
    }

    .section-about__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-about__bottom-left {
        margin-right: 20px;
    }

    .section-faq__list-span {
        margin-right: 0;
    }

    .footer_div {
        justify-content: space-between;
        margin: 0;
    }

}

@media (max-width: 1760px) {

    .section-about__bottom-left {
        height: 620px;
        /* margin-right: 0; */
        margin-bottom: 50px;
    }

    .section-about__bottom {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 1615px) {
    .footer-center {
        margin-right: 100px;
    }

    /* .section_hero {
        padding-top: 30px
    } */
}

@media (max-width: 1570px) {
    .footer-center {
        margin-right: 100px;
    }

    .footer-left {
        margin-right: 100px;
    }

    .section-work__description {
        max-width: 600px;
    }

    .header_search_active {
        width: 220px; 
    }


    .input-heder-search {
        width: 130px;
    }

    .header__list-item:not(:last-child) {
        margin-right: 50px;
    }


}

@media (max-width: 1400px) {
    .footer-right {
        display: none;
    }

    .footer_div {
        justify-content: space-around;
    }

    .footer-center {
        margin-right: 0; 
    }

    .container {
        margin: 0 50px;
        padding: 0;
    }

    .section-hero__heading {
        font-size: 60px
    }

    .section-hero__description {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .section_hero-content {
        padding: 40px 0 0 40px;
    }

    .section-about__bottom {
        margin-bottom: 40px;
    }

    .section_container_work {
        margin-bottom: 40px;
    }

    .section-faq {
        margin-bottom: 80px;
    }

    .footer-left {
        padding-top: 50px;
    }

    .section-about__desctiption {
        
    }

    .section_hero {
       /*  background-image: url(/img/1024.Evklid.jpg); */
        margin-bottom: 80px;
    }

    .section_container_work {
        background-image: url(/img/section_work.jpg);
    }

    .section-work__description {
        max-width: 450px;
    }
}

@media (max-width: 1200px) {
    .header__list {
        display: none;
    }

    

    .header_container {
        padding: 27px 0px 20px 0px;
    }

    .header__button {
        padding-top: 0;
        margin-right: -7px;
    }

    .section-faq__list-heading {
        font-size: 20px;
        font-weight: 700;
    }

    .section_hero-content {
        max-width: 840px;
        position: absolute;
        content: '';
        height: 200px;
        z-index: 1;
        top: 50px;
        left: 80px;
    }


    /* burger */




    .burger_header:active .burger-line:nth-child(2) {
        width: 23px;
        color: #E1670E;
        transform: translateX(7px)
    }

    .burger_header:active .burger-line:nth-child(3) {
        width: 17px;
        color: #E1670E;
        transform: translateX(13px)
    }



    .burger-active {
        display: block;
        position: absolute;
        width: 40%;
        min-width: 250px;
        left: 0;
        top: 80px;
        height: 100vh;
        padding: 50px;
        z-index: 10;
        background-color: rgb(255, 255, 255);
        border: none;
    }

    .burger-active .header__list-item:not(:last-child) {
        margin-bottom: 50px;

    }

    .burger-active .header__list-item {
        font-size: 24px;
    }

    .burger_header {
        display: block;

    }

    .burger-icon-active {
        position: relative;
    }

    .burger-line {
        width: 30px;
        height: 3px;
        background-color: black;
    }

    .burger-line:not(:last-child) {
        margin-bottom: 7px;
    }

    .burger-icon-active .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger-icon-active .burger-line:first-child {
        position: absolute;
        transform: rotate(45deg);
        top: 25%;
    }

    .burger-icon-active .burger-line:last-child {
        position: absolute;
        transform: rotate(-45deg);
        top: 25%;
    }

}

@media (max-width: 1024px) {
    .section_hero-content {
        padding: 160px 0px 60px 75px; 
    }

    .section-hero__description {
        max-width: 700px;
        letter-spacing: .1px;
        margin-bottom: 60px;
    }

    .section-hero__heading {
        margin: 0px 0px 17px 0px;
    }

    .section-about__description {
        margin-bottom: 60px;
    }
    
    .section-about__heading2 {
        margin-bottom: 10px;
    }

    .section-about__bottom-left {
        background-image: url(/img/work-content-1024.jpg);
        margin-right: 0;
        /* padding: 0px 40px 20px 10px; */
    }

    .about__bottom-left-description {
        margin-right: 185px;
        width: 500px;
        letter-spacing: .1px;
    }

    .about__bottom-left-link {

    }

    .section-about__bottom-left-content {
        padding-bottom: 26px;
        padding-top: 50px;
    }

    .section-about__bottom{
        margin-bottom: 80px;
    }  

    .about__bottom-right-items {
        padding: 67px 170px 65px 295px;
    }

    .section-work__steps-item:not(:last-child) {
        margin-right: 79px;
    }

    .section-work__heading_work-content {
        margin-bottom: 10px;
    }

   .section-work__description {
        margin-bottom: 50px;
    }

    .section_container_work {
        background-size: 47%;
        padding: 0px 0px 60px 0px;
    }

    .section-faq__heading {
        margin-bottom: 33px;
    }

    .section-faq__items {
        padding: 32px 0px 28px 0px ; 
        align-items: center;
        line-height: 32px;
    }

    .section-faq__list-heading {
        width: 756px;
    }

    .footer-center {
        padding-top: 30px;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-form-input {
        width: 535px;
    }

    .footer_div {
        justify-content: space-between;
    }

    .footer-center__form-btn {
        width: 240px;
        padding: 15px 25px;
    }

    .footer-left__logo {
        margin-bottom: 20px;
    }

    .footer-left__list {
        margin-bottom: 90px;
    }

    .section_hero-content {
        max-width: 840px;
        position: absolute;
        content: '';
        height: 200px;
        z-index: 1;
        top: 0px;
        left: 40px;
    }

    .section_hero-content {
        padding: 100px 0px 60px 75px;
    }

}

@media(max-width: 1020px) {
    .footer-left__list {
        display: none;
    }

    .footer_div {
        flex-direction: column-reverse;
        align-items: start;
    }

    .about__bottom-right-item_1 {
        background-image: url(/img/768-section__work_2.png);
    }

    .about__bottom-right-item_2 {
        background-image: url(/img/768-section__work.png);
    }

    .about__bottom-right-items {
        padding: 35px 46px 35px 170px;
    }

    .about__bottom-right-item_1 {
        background-position-x: 20px;
        background-position-y: 60px;
        /* background-position: left center; */
    }

    .about__bottom-right-item_2 {
        background-position-x: 20px;
        background-position-y: 60px;
        /* background-position: left center; */
    }

    .section-work__steps {
        justify-content: space-between;
    }

    .section_container_work {
        background-image: url(/img/768__steps-picture.jpg);
        background-position: top center;
        background-size: 100%;
        padding-top: 430px;
    }

    .section-work__content {
        width: 100%;
    }

    .section-work__description {
        max-width: 100%;
    }

    .section-about__bottom-left {
        height: 560px;
    }

    .section-about__bottom-left-content {
        max-width:  900px;
        padding: 34px 34px 34px 40px;
    }

    .about__bottom-left-description {
        width: 600px;
        margin-right: 0;
    }

    .about__bottom-right-item_1 {
        width: 850px;
    }


    .about__bottom-left-description {
        padding-left: 0;
    }
}

@media(max-width: 900px) {


    .section-about__bottom-left-content {
        max-width:  700px;
        padding: 34px 34px 34px 40px;
    }

     .about__bottom-right-item_1 {
        width: 700px;
    }

     .section-about__bottom-left {
         height: 480px;
     }

     .section-hero__heading {
         font-size: 50px;
     }

     .section-hero__description {
         font-size: 18px;

     }

     .section_hero-content {
         max-width: 750px;
         padding: 100px 40px 5px 40px;
     }

     .section-faq__list-heading{
         width:  600px;
     }

     .section-faq__list-span {

     }

     .section_hero {
         margin-bottom: 50px;
     }
}

@media(max-width: 800px) {

    .section_hero {
        /* background-image:  url(/img/768-header.jpg); */
    }

    .header_container {
        padding: 10px 0px 11px 0px;
    }

    .section-hero__btn{
        margin-bottom: 150px;
    }
    .section-hero__heading {
        margin: 0px 0px 14px 0px ;
    }

    .section_hero {
        margin-bottom: 80px;
    }

    .section-about__bottom-left {
        background-image: url(/img/section-work_768.jpg);
        height:  650px;
    }

    .about__bottom-left-description {
        width: 366px;
        margin-right: 50px;
    }

    .section-about__bottom-left-content {
        padding: 34px 40px;
    }

    .about__bottom-right-item_1 {
        padding: 20px 40px 30px 170px;
        width: 670px;
    }


    .section_container_work {
        padding-top: 330px;
    }

    .footer-center {
        padding-top: 50px;
    }


    .footer-form_comment {
        margin-bottom: 37px;
    }

    .burger-active {
        display: block;
        position: absolute;
        width: 40%;
        min-width: 250px;
        left: 0;
        top: 50px;
        height: 100vh;
        padding: 50px;
        z-index: 10;
        background-color: rgb(255, 255, 255);

    }
}

@media(max-width: 700px) {
    .section-hero__heading {
        font-size: 38px;
    }

    .section_hero-content {
        text-align: center;
        padding: 130px 40px 5px 40px;
    }

    .section-about__bottom-left-content {
         flex-direction: column;
        padding: 34px 65px;
    }

    .section-about__bottom-left {
        height: 485px;
    }

    .about__bottom-left-description {
        margin-right: 0px;
        margin-bottom: 8px;
    }

    .about__bottom-right-items {

    }

    .about__bottom-right-item_1 {
        padding: 0;
    }


    .about__bottom-right-item_2 {
        padding: 0px;
    }


    .about__bottom-right-items {
        border: none;
        align-items: center;
        width: 500px;
        background-position: left top;
        padding-top: 100px;
    }

    .section-faq__list-heading {
        width: 400px;
    }

    .burger-active {
        display: block;
        position: absolute;
        width: 60%;
        min-width: 250px;
        left: 0;
        top: 40px;
        height: 100vh;
        padding: 50px;
        z-index: 10;
        background-color: rgb(255, 255, 255);

    }

}

@media(max-width: 640px) {
    .footer-center_div {
        flex-direction: column;
    }

    .footer-center__form-btn {
        margin-right: 0px;
        margin-bottom: 11px;
    }

    .footer-left {
        margin-right: 0px;
        /*align-items: center;*/
    }

    .footer_div {
        align-items: center;
    }

    .footer-form-input {
        width: 400px;
    }

    .section_hero-content {
        padding: 60px 40px 5px 40px;
    }

    .section_hero {
        margin-bottom: 20px;
    }

   .section-hero__heading {
       font-size: 30px;
   }

   .section-hero__description {
       font-size: 15px;
   }

   .section-hero__btn {
       font-size: 18px;
       padding: 20px 30px;
   }

   .section-hero__btn {
       margin-bottom: 0px;
   }

   .section-hero__description {
       margin-bottom: 30px;
   }



   .section-about__description {
       font-size: 14px;
   }

   .section_hero-content {
       padding: 70px 40px 100px 40px;
   }

   .section_hero {
    height: 450px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px;
    left: 0;
    width: 100%;
}

}


@media(max-width: 550px) {
    .section-about__heading2 {
        font-size: 24px;
    }

    .section-about__bottom-left {
        background-image: url(/img/320_work-content__section.jpg);
        height: 455px;
    }

    .section-about__bottom-left-content {
        background: none;
        display: block;
        padding: 0;
    }

    .about__bottom-left-description {
        color: black;
        margin-bottom: 30px;
        font-weight: 400;
    }

    .about__bottom-left-link {
        color: var(--color-mainorange);
        font-weight: 700;
    }

    .about__bottom-right-items {
        width: 400px;
    }

    .section-work__heading {
        font-weight: 400;
    }

    .section-faq__list-span {
        width: 32px;
        height: 30px;
    }

    .section-faq__list-span::after {
        width: 19px;
    }

    .section-faq__list-span::before {
        width: 19px;
    }

    .section-faq__list-heading {
        font-size: 14px;
        width: 300px;
    }

    .section-faq__heading {
        font-size: 24px;
    }


    .section-work__heading {
        font-size: 24px;
    }

    .footer-center_heading {
        font-size: 24px;
    }

    .section_container_work {
        padding-top: 200px;
    }

    .section-work__steps-button {
        font-size: 14px;
        padding: 0;
    }

    .section-work__steps {
        margin-left: 0;
    }


    .container {
        margin: 0 15px;
    }  

    .input-heder-search::placeholder::before {
       /*  width: 50px; */
        text-overflow: ellipsis;
    } 

    .header_search_active {
        width: 100px;
    }
}


@media(max-width: 480px) {
    .section_hero-content {
        padding: 30px 20px 60px 20px;
    }

    .section-hero__heading {
        font-size: 20px;
    }

    .section-hero__description {
        font-size: 12px;
    }

    .section-hero__btn {
        font-size: 12px;
        padding: 19px 27px;
    }


    .about__bottom-right-items__description {
        width: 290px;
    }

    .section-work__steps-item:not(:last-child) {
        margin-right: 0px;
    }

    .section-work__link-contract {
        padding: 10px 30px;
    }

    .section-work__link-more {
        padding: 10px 30px;
    }

    .footer-form-input {
        width: 350px;
    }

    .about__bottom-right-items {
        width: 290px;
    }

    .section_hero {
        margin-bottom: 30px;
    }

    .about__bottom-left-description {
        width: 290px;
    }

    .section-work__link-more {
        margin-right: 5px;
    }

    .section_hero {
        height: 300px;
    }

    .section_hero-content {
        left: 10px;
    }

    .burger-active {
        display: block;
        position: absolute;
        width: 70%;
        min-width: 130px;
        left: 0;
        top: 40px;
        height: 100vh;
        padding: 50px;
        z-index: 10;
        background-color: rgb(255, 255, 255);

    }

    .burger-active .header__list-item {
        font-size: 18px;
    }
    .burger-active {
        display: block;
        position: absolute;
        width: 60%;
        min-width: 250px;
        left: 0;
        top: 50px;
        height: 100vh;
        padding: 40px;
        z-index: 10;
        background-color: rgb(255, 255, 255);

    }


}


@media(max-width: 400px) {
    .footer-form-input {
        width: 290px;
    }

    .header__list-item-link {
        padding: 0;
    }
}

@media(max-width: 320px) {
    .header_container {
        padding: 20px 0px 10px 0px;
    }

    .section_hero-content {
        padding: 60px 20px 60px 20px;
    }

    .section-hero__heading {
        margin: 0px 0px 8px 0px;
    }

    .section-hero__description {
        margin-bottom: 25px;
    }

    .section-hero__btn {
        padding: 15px 30px;
    }

    .section_hero {
        margin-bottom: 60px;
    }

    .section-about__heading2 {
        margin-bottom: 20px;
    }

    .section-about__description {
        line-height: 28px;
    }

    .section-about__description {
        margin-bottom: 5px;
    }

    .section-about__bottom-left {
        height: 390px;
        margin-top: -40px;
    }


    .about__bottom-left-description {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: 10px;
    }


    .about__bottom-left-link {
        font-size: 12px;
        padding: 10px 40px;
    }


    .about__bottom-right-item_1 {
        background-image: url(/img/320_кубик.png);
        padding-top: 60px;
    }

    .about__bottom-right-item_2 {
        background-image: url(/img/320_шестяренка.png);
        padding-top: 70px;
    }

    .about__bottom-right-items__heading {
        font-size: 18px;
    }

    .about__bottom-right-items__description {
        font-size: 14px;
        line-height: 26px;
    }

    .section-about__bottom {
        margin-bottom: 65px;
    }

    .section-work__heading {
        margin-bottom: 18px;
    }

    .section_container_work {
        background-image: url(/img/320_work_pencel.jpg);
    }

    .section-work__steps {
        margin-bottom: 20px;
    }

    .section-work__heading_work-content {
        font-size: 18px;
    }

    .section_container_work {
        padding: 180px 0px 0px 0px;
        margin-bottom: 80px;
    }

    .section-work__description {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .section-work__link-contract {
        font-size: 12px;
    }

    .section-work__link-more {
        font-size: 12px;
        padding: 10px 40px;
    }

    .section-faq__heading {
        margin-bottom: 20px;
    }

    .section-faq__items  {
        padding: 20px 0px 32px 0px;
        line-height: 27px;
    }

    .section-faq {
        margin-bottom: 60px;
    }

    .footer-center {
        padding-top: 30px;
    }

    .footer-center__form-btn {
        width: 180px;
        padding: 12px 23px;
        font-size: 14px;
    }

    .footer-form_comment {
        margin-bottom: 25px;
    }

    .footer-left__logo {
        width: 140px;
    }

    .left__list-social__link svg {
        width: 40px;
        height: 40px;
    }

    .footer-left__list-social__items:not(:last-child) {
        margin-right: 0px;
    }

    .footer-left {
        padding-top: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

